body {
  margin: 0;
  padding: 0;
}

.weather {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 80px);
  align-items: center;
  justify-content: center;
}

.weather-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: auto auto;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 37px;
  border: 1px solid black;
  width: 250px;
  height: 125px;
}

.country-city {
  grid-column: span 3;
}